$nav-text-color: rgb(255, 255, 255);
$nav-bg-color: rgb(51, 51, 51);

// Hover colors
$hover-nav-text-color: rgb(51, 51, 51);
$hover-nav-bg-color: rgb(255, 255, 255);

//active colors

$active-nav-text-color: rgba(216, 16, 166, 0.993);
$active-nav-bg-color: rgb(240, 14, 14);

$navbar-toggler-btn-border: rgb(250, 29, 29);
